[run]
include =
    apps/*
omit =
    *admin*
    *inlines*
    *conftest*
    *migrations*
    *tests*
    *templates*
    *static*
    *data_structures*
    *models*
    *__init__*

[report]
ignore_errors = True
