[run]
include =
    apps/*
omit =
    *__init__*
    *admin*
    *conftest*
    *data_structures*
    *forms*
    *inlines*
    *migrations*
    *mixins*
    *models*
    *static*
    *templates*
    *tests*
    *widgets*

[report]
ignore_errors = True
