.menu {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.application-menu {
    width: 85%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box2, .box3 {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    flex-direction: column;
}

.box1, .box4 {
    display: flex;
    margin-top: 0;
    flex-basis: 100%;
    justify-content: center;
    flex-direction: column;
}

.application-menu > div > a {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

a.button {
    text-align: center;
    margin: 5px 5px;
}

.vLargeTextField {
    display: block;
    width: 100em;
    height: 5em;
}

a.stubitlink:link, a.stubitlink:visited {
    background: #2C3F60;  /* 2C3F60 */
}

a.stubitlink:focus, a.stubitlink:hover {
    background: #405982;
    text-decoration: none;
}
fieldset.module:nth-child(5) > h2:nth-child(1) {
    text-align: center;
}

.column-get_is_enabled {
    width: 5px;
}

.admin-btn {
    display: block;
    float: left;
    background: var(--object-tools-bg);
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}
